<?xml version="1.0"?>
<configuration>
<configSections>
    <section name="FilterRuleSection" type="EaseFilter.CommonObjects.FilterRuleSection, CommonObjects, Version=5.4.2.1001, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    <section name="ProcessFilterRuleSection" type="EaseFilter.CommonObjects.ProcessFilterRuleSection, CommonObjects, Version=5.4.2.1001, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    <section name="RegistryFilterRuleSection" type="EaseFilter.CommonObjects.RegistryFilterRuleSection, CommonObjects, Version=5.4.2.1001, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
